
@{
    ViewBag.Title = "الرئيسية";
}

<div class="display-4 bg-info centertext mytitle">Mohammed AL-junaid</div>
<div class="row">
    <div class="col-md-8">
        <h2 style="padding-top:120px"> Mohammed AL-junaid </h2>
        <h2>موقع يهتم ب الزراعة واضافة الموردين والعملاء والاصناف وعرضهم </h2>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/Pic.jpg" class="img-fluid" />
    </div>
</div>
